.app {
  background-color: var(--light-background-primary);
  width: 100vw;
  flex-basis: 100%;
  height: calc(100vh - var(--navheight));
}

.bold {
  font-weight: 600;
}

.homegrid {
  color: var(--light-text-primary);
  display: grid;
  justify-content: center;
  grid-template-columns: 40%;
  height: 100%;
  
  .app-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    grid-row: 1 / 3;
    grid-column: 2 / 3;

    canvas {
      height: 250px !important;
    }
  }

  .logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    svg {
      fill: var(--light-text-primary);
      width: 512px;
    }
  }

  .subtext {
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-left: 20px;
    font-size: 22px;
    grid-row: 2 / 2;

    a {
      width: fit-content;
      background-color: var(--light-button-primary);
      color: var(--light-text-primary);
      transition: 0.2s;
      text-decoration: none;
      padding: 8px 10px;
      border-radius: 5px;

      &:hover {
        background-color: var(--light-background-secondary);
        border-radius: 5px;
      }
    }
  }

  .example-code {
    pre {
      border-radius: 5px;
    }
  }

  .step-text {
    display: flex;
    align-items: center;

    .input-type-toggle {
      display: flex;
      margin-left: auto;
      border-radius: 50px;

      border: 1px solid var(--light-text-primary);

      span {
        cursor: pointer;
        padding: 3px 15px;
        border-radius: 50px 0 0 50px;

        &[aria-selected="true"] {
          background-color: var(--light-button-primary);
          transition: 0.2s;
        }

        &:first-child[aria-selected="true"] {
          border-radius: 50px 0 0 50px;
        }

        &:last-child[aria-selected="true"] {
          border-radius: 0 50px 50px 0;
        }
      }
    } 
  }
}